* {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 150px;
    background: rgb(29, 29, 29);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
    background: rgb(206, 206, 209);
    min-height: 100vh;
    color: rgb(29, 29, 29);
}

h1 {
    font-family: 'Clash Display', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

h2 {
    font-family: 'Clash Display', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.logoHeader {
    height: 50px;
    padding-left: 60px;
}

.headline {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}

.imgSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1380px;
}

.image-button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    line-height: 0;
}

.images {
    height: 300px;
    width: auto;
    object-fit: cover;
    box-shadow: 0 0 36px rgb(0 0 0 / 80%);
    border: 5px solid rgba(15, 15, 15, 0.823);
}

.images:hover {
    transform: scale(1.01);
    box-shadow: 0 0 16px rgba(35, 31, 31, 0.664);
    cursor: pointer;
    border: 5px solid rgb(251, 250, 250);
}

.myDialog {
    margin: auto;
    padding: 16px;
    border: none;
}

::backdrop {
    background: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(2px);
}

.dialogImg {
    max-width: 400px;
}

.dialogTitle {
    font-size: large;
    font-weight: 400;
    text-align: center;
    padding: 10px 0px 10px;
}

.closeDialog {
    display: flex;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 350px;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 44px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 18px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.closeDialog:hover {
    background: rgb(29, 29, 29);
    color: #ffffff;
}

.closeDialog:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.closeDialog:focus {
    outline: none;
}

.dialogFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialogNavBack {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.dialogNavBack:hover {
    background: rgb(29, 29, 29);
    color: #ffffff;
}

.dialogNavBack:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.dialogNavBack:focus {
    outline: none;
}

.dialogNavNext {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.dialogNavNext:hover {
    background: rgb(29, 29, 29);
    color: #ffffff;
}

.dialogNavNext:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.dialogNavNext:focus {
    outline: none;
}

.footer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    background: rgb(29, 29, 29);
    
}

.logoFooter {
    height: 50px;
}

.footerLinks {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.advertisment1 {
    margin-bottom: 50px;
}

.advertisment2 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: 'Clash Display', sans-serif;
    font-size: 28px;
    font-weight: 600;
    height: 78px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 44px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    margin-bottom: 50px;
    text-decoration: none;
}

.advertisment2:hover {
    background: rgb(29, 29, 29);
    color: #ffffff;
}

.advertisment2:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.advertisment2:focus {
    outline: none;
}

@media (max-width: 555px) {
    
.dialogImg{
    max-width: 200px;
}

.closeDialog{
    margin-left: 160px;
}
}